#searcher {
    display: flex;
    justify-content: center;
    align-items: center;
    &>div {
        margin: 10px;
    }
}

#result {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    &>*{
        margin:0 20px
    }
    @media screen and (max-width:850px){
        flex-direction: column;
    }
}

#user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    >img{
        width: 100%;
    }
    &>.location {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &>.link{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &>.icons>div{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
    }
    @media screen and (max-width:850px){
        margin: 0 auto;
    }
}

#repositories {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    text-align: left;
    color: #555;
    flex: 1;

    &>div {
        border-top: 1px solid #ddd;
        padding: 10px 0;

        &>.name {
            color: rgba(0, 98, 255, 0.849);
            font-size: 20px;
            font-weight: bold;
            margin: 5px 0;

            &:hover {
                text-decoration: underline;
            }
        }

        &>.icons {
            display: flex;
            &>.website{
                display: flex;
                justify-content: center;
                align-items:center;
            }
            &.skel{
                display: block;
                border-radius: 0;
                background-color: none;
            }
            & .ico {
                display: block;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                background-color: rgb(42, 163, 26);
            }

            &>* {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px 10px 10px 0;
            }
        }
    }
}

#skeleton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &>* {
        margin: 10px;
    }
}