* {
    padding: 0;
    margin: 0;
}
body,
html {
    min-height: 100%;
    width: 100%;
}
body {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
}
a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
#container {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 30px 70px;
    a {
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        height: 200px;
        width: 290px;
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.25), inset 0 0 0 3px white;
        border: 1px solid black;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        background-image: url(/img/avatar.png);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
        span {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: 0;
            left: 0;
            right: 0;
            height: 50px;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.6);
            transition: 0.3s;
        }
        &:hover {
            span {
                height: 100%;
            }
            background-size: 110%;
        }
    }
}
main {
    min-height: 70vh;
}
#back-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}
